#navbar a:nth-child(1) {
  background-image: linear-gradient(180deg, #ad1e42,#641327)
}

#navbar a:nth-child(1):hover {
  background-image: linear-gradient(180deg, #e71a4d,#881a36)
}

label {
    align-content: center;
    padding: 0 20 0 20;
}

#filename, #pathname {
    flex: 2;
}

#filetable {
    width: 100%;
    border: 1px solid #ffffff;
    align-content: start;
    display: table;
}

#filetable tr {
    display: table-row;
    height: 30px;
}

#filetable td {
    height: 30px;
    padding: 0 12 0 12;
    align-content: center;
    width: 25%;
}

#filetable td:hover {
    background-color: #666666;
}

#files_header, #new_file, #del_file, #load_file, #save_file {
  background-image: linear-gradient(180deg, #2a398d,#162266)
}

#files_header:hover, #files_header:hover, #new_file:hover, #del_file:hover, #load_file:hover, #save_file:hover {
  background-image: linear-gradient(180deg, #475fe7,#2135a5)
}


#sim2T_header {
  background-image: linear-gradient(180deg, #ad1e42,#641327)
}

#sim2T_header:hover {
  background-image: linear-gradient(180deg, #e71a4d,#881a36)
}

#goto {
    flex-basis: 120px;
    flex-grow: 0;
    flex-shrink: 0;
    height: 30px;
    padding: 0px;
    background-image: linear-gradient(180deg, #1b1b1b,#000000)
}

#goto:hover {
    background-image: linear-gradient(180deg, #363636,#1b1b1b)
}

#run_2Tsim {
    font-variant: small-caps;
    font-weight: bold;
    font-size: 22px;
    background-image: linear-gradient(180deg, #ad1e42,#641327);
    margin-top: 8px;
}
#run_2Tsim:hover {
    background-image: linear-gradient(180deg, #e71a4d,#881a36)
}

.selected {
    background-color: #616161;
    border: 1px solid #ffffff;
}

#sim_info {
    margin: 8px 0;
    display: flex;
    align-items: center;
}

#sim_info label {
    width: 150px;
    padding: 4px;
}

#sim_info span {
    flex: 1;
    text-align: center;
    margin-top: 8px;
}

#resultStatus, #sourceStatus, #layersStatus  {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex: 1;
    display: flex;
    align-items: center;
}

.light {
    background-color: #ff0000;
    border: 1px solid #ffffff;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 0 8 0 8;
}

.text {
  width: 200px;
  text-align: left;
}
