#navbar a:nth-child(2) {
  background-image: linear-gradient(180deg, #ad1e42,#641327)
}

#navbar a:nth-child(2):hover {
  background-image: linear-gradient(180deg, #e71a4d,#881a36)
}

.content {
  display: none;
}

.data_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


.table1 td:nth-child(2) {
  padding-right: 10px;
  padding-left: 10px;
}

.table1 input {
  width: 100%;
}


.table2 {
  margin: 10 0 10 0;
  font-size: 18;
  border-style: solid;
  border-color: #e0e0e0;
  border-width: 2 0 2 0;
}

.table2 tr:first-child {
  border-style: solid;
  border-width: 0 0 1 0;
  border-color: #e0e0e0;
}
  
.table2 td {
  text-align: right;
  align-items: center;
  margin: 0 0 0 10;
  margin: 2 1 2 1;
  display: flex;
}

.table2 td:first-child {
  flex: none;
  width: 180px;
}

.table2 td div {
  flex: 1;
}

.table2 input {
  min-width: 100px;
  width: 100%;
  text-align: right;
}

.table3 {
  display: flex;
  margin-bottom: 8px;
}

.table3 label {
  flex: none;
  width: fit-content;
  margin-right: 10;
  align-content: center;
}

.table3 input {
  flex: 1;
}

.help_btn {
  padding: 0px;
  flex: none;
  width: 100px;
  background-image: linear-gradient(180deg, #262525,#0c0c0c)
}
.file_btn:hover {
  background-image: linear-gradient(180deg, #434343,#181818)
}

#insert_header, #duplicate, #moveL, #moveR, #update, #submit {
  background-image: linear-gradient(180deg, #164494,#0b1f51)
}

#destroy:hover, #insert_header:hover, #duplicate:hover, #moveL:hover, #moveR:hover, #update:hover, #submit:hover {
  background-image: linear-gradient(180deg, #2462e7,#134381)
}

#modify_header {
    background-image: linear-gradient(180deg, #747474,#414141)
}

#modify_header:hover {
    background-image: linear-gradient(180deg, #969696,#747474)
}


#destroy {
  background-image: linear-gradient(180deg, #ad1e42,#641327)
}
#destroy:hover {
  background-image: linear-gradient(180deg, #e71a4d,#881a36)
}



#load_menu, #save_menu {
  display: flex;
  margin-top: 2px;
  padding-top: 5px;
  margin-bottom: 5px;
  justify-content: space-between;
  border-top: 2px solid #eeeeee;
  align-items: center;
}

#load_drop, #save_name {
  flex: none;
  width: 500px;
  height: 25px;
}

#load_btn, #save_btn {
  padding: 2px;
  flex: none;
  width: 200px;
  height: 30px;
  background-image: linear-gradient(180deg, #ccbb00,#997700)
}

#load_btn:hover, #save_btn:hover {
  background-image: linear-gradient(180deg, #eedd00,#bbaa00)
}

#num_temp {
    display: flex;
    margin-top: 8px;
    padding-bottom: 2px;
    padding: 4 10 4 10;
    border: 2px solid  #000000;
    border-radius: 4px;
    background-color: rgb(175, 175, 175);
    color: black;
}