#navbar a:nth-child(3) {
  background-image: linear-gradient(180deg, #ad1e42,#641327)
}

#navbar a:nth-child(3):hover {
  background-image: linear-gradient(180deg, #e71a4d,#881a36)
}

.content {
    margin: 0 0 10 0;
    display: flex;
    flex-direction: column;
}

.button {
    margin-top: 10px;
}

#source_style {
    display: flex;
    margin-top: 8px;
    padding-bottom: 2px;
    padding: 4 10 4 10;
    border: 2px solid  #000000;
    border-radius: 4px;
    background-color: rgb(175, 175, 175);
    color: black;
}

#table_source td:nth-child(2) {
    padding-right: 10px;
    padding-left: 10px;
}

#table_wave {
    margin-top: 10px;
}

table input {
    width: 100%;
}

#update_source {
    background-image: linear-gradient(180deg, #ad1e42,#641327)
}
#update_source:hover {
    background-image: linear-gradient(180deg, #e71a4d,#881a36)
}

#update_layer {
    background-image: linear-gradient(180deg, #747474,#414141)
}

#update_layer:hover {
    background-image: linear-gradient(180deg, #969696,#747474)
}

#source_header, #layer_header, #plot_space, #plot_time, #plot_save, #plot_pyplt,#plot_header {
    background-image: linear-gradient(180deg, #2a398d,#162266)
}
#source_header:hover, #layer_header:hover, #plot_space:hover, #plot_time:hover, #plot_save:hover, #plot_pyplt:hover, #plot_header:hover {
    background-image: linear-gradient(180deg, #475fe7,#2135a5)
}



