#navbar a:nth-child(5), #start {
  background-image: linear-gradient(180deg, #ad1e42,#641327)
}

#navbar a:nth-child(5):hover, #start:hover {
  background-image: linear-gradient(180deg, #e71a4d,#881a36)
}

.headerpanel, #stop {
    background-image: linear-gradient(180deg, #2a398d,#162266);
    font-weight: bold;
}

.headerpanel:hover, #stop:hover {
    background-image: linear-gradient(180deg, #475fe7,#2135a5);
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.content label {
  margin: 8 0 8 0;
}

input, select {
  height: 30px;
}