.content {
  display: none;
}

.data_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


.table1 td:nth-child(2) {
  padding-right: 10px;
  padding-left: 10px;
}

.table1 input {
  width: 100%;
}


.table2 {
  margin: 10 0 10 0;
  font-size: 18;
  border-style: solid;
  border-color: #e0e0e0;
  border-width: 2 0 2 0;
}

.table2 tr:first-child {
  border-style: solid;
  border-width: 0 0 1 0;
  border-color: #e0e0e0;
}
  
.table2 td {
  text-align: right;
  align-items: center;
  margin: 0 0 0 10;
  margin: 2 1 2 1;
  display: flex;
}

.table2 td:first-child {
  flex: none;
  width: 180px;
}

.table2 td div {
  flex: 1;
}

.table2 input {
  min-width: 100px;
  width: 100%;
  text-align: right;
}

.table3 {
  display: flex;
  margin-bottom: 8px;
}

.table3 label {
  flex: none;
  width: fit-content;
  margin-right: 10;
}

.table3 input {
  flex: 1;
}


.help_btn {
  padding: 0px;
  flex: none;
  width: 100px;
  background-image: linear-gradient(180deg, #262525,#0c0c0c)
}
.file_btn:hover {
  background-image: linear-gradient(180deg, #434343,#181818)
}

#update, #modify_header {
  background-image: linear-gradient(180deg, #164494,#0b1f51)
}
#update:hover, #modify_header:hover {
  background-image: linear-gradient(180deg, #2462e7,#134381)
}

#destroy {
  background-image: linear-gradient(180deg, #943616,#511b0b)
}
#destroy:hover {
  background-image: linear-gradient(180deg, #e74124,#812313)
}

#moveL {
  background-image: linear-gradient(180deg, #947f16,#514f0b)
}
#moveL:hover {
  background-image: linear-gradient(180deg, #e7bd24,#816f13)
}

#moveR {
  background-image: linear-gradient(180deg, #791694,#430b51)
}
#moveR:hover {
  background-image: linear-gradient(180deg, #b324e7,#5e1381)
}

#submit, #insert_header, #duplicate {
  background-image: linear-gradient(180deg, #16942b,#0b510b)
}
#submit:hover, #insert_header:hover, #duplicate:hover {
  background-image: linear-gradient(180deg, #24e745,#138113)
}

#load_menu {
  display: flex;
  margin-top: 2px;
  padding-top: 5px;
  margin-bottom: 5px;
  justify-content: space-between;
  border-top: 2px solid #eeeeee;
  align-items: center;
}

#load_drop {
  flex: none;
  width: 500px;
  height: 25px;
}

#load_btn {
  padding: 2px;
  flex: none;
  width: 200px;
  height: 30px;
  background-image: linear-gradient(180deg, #ccbb00,#997700)
}

#load_btn:hover {
  background-image: linear-gradient(180deg, #eedd00,#bbaa00)
}