label {
    align-content: center;
    padding: 0 20 0 20;
}

#filename, #pathname {
    flex: 2;
}

#filetable {
    width: 100%;
    border: 1px solid #ffffff;
    align-content: start;
    display: table;
}

#filetable tr {
    display: table-row;
    height: 30px;
}

#filetable td {
    height: 30px;
    padding: 0 12 0 12;
    align-content: center;
    width: 25%;
}

#filetable td:hover {
    background-color: #666666;
}

#files_header, #sim2T_header {
    background-image: linear-gradient(180deg, #1b1b1b,#000000)
}
#files_header:hover, #sim2T_header:hover {
    background-image: linear-gradient(180deg, #363636,#1b1b1b)
}

#goto {
    width: 80px;
    height: 30px;
    padding: 0px;
    background-image: linear-gradient(180deg, #1b1b1b,#000000)
}

#goto:hover {
    background-image: linear-gradient(180deg, #363636,#1b1b1b)
}

#new_file {
    background-image: linear-gradient(180deg, #498d2a,#366616)
}
#new_file:hover {
    background-image: linear-gradient(180deg, #5ce034,#40a521)
}

#load_file {
    background-image: linear-gradient(180deg, #ad1e42,#641327)
}
#load_file:hover {
    background-image: linear-gradient(180deg, #e71a4d,#881a36)
}

#save_file {
    background-image: linear-gradient(180deg, #2a398d,#162266)
}
#save_file:hover {
    background-image: linear-gradient(180deg, #475fe7,#2135a5)
}

#run_2Tsim {
    font-variant: small-caps;
    font-weight: bold;
    font-size: 22px;
    color: #000000;
    background-image: linear-gradient(180deg, #dadada,#b1b1b1)
}
#run_2Tsim:hover {
    background-image: linear-gradient(180deg, #ffffff,#dfdfdf)
}

