.content {
    margin: 0 0 10 0;
    display: flex;
    flex-direction: column;
}

.button {
    margin-top: 10px;
}

#source_style {
    display: flex;
    margin-top: 8px;
    padding-bottom: 2px;
    padding: 4 10 4 10;
    border: 2px solid  #000000;
    border-radius: 4px;
    background-color: rgb(175, 175, 175);
    color: black;
}

#table_source td:nth-child(2) {
    padding-right: 10px;
    padding-left: 10px;
}

#table_wave {
    margin-top: 10px;
}

table input {
    width: 100%;
}

#layer_header, #update_layer, #plot_space {
    background-image: linear-gradient(180deg, #ad1e42,#641327)
}
#layer_header:hover, #update_layer:hover, #plot_space:hover {
    background-image: linear-gradient(180deg, #e71a4d,#881a36)
}

#source_header, #update_source, #plot_time {
    background-image: linear-gradient(180deg, #2a398d,#162266)
}
#source_header:hover, #update_source:hover, #plot_time:hover {
    background-image: linear-gradient(180deg, #475fe7,#2135a5)
}

#plot_header {
    background-image: linear-gradient(180deg, #c9be2d,#968919)
}
#plot_header:hover {
    background-image: linear-gradient(180deg, #e9dc29,#a09218)
}

#plot_save{
    background-image: linear-gradient(180deg, #498d2a,#366616)
}
#plot_save:hover {
    background-image: linear-gradient(180deg, #5ce034,#40a521)
}

#plot_pyplt {
    background-image: linear-gradient(180deg, #8e18a5,#640f75)
}
#plot_pyplt:hover {
    background-image: linear-gradient(180deg, #b222cf,#8a15a1)
}
