body {
  margin: 0px;
  text-align: justify;
  background-color: #404040;
  font-family: 'Times New Roman','Cascadia Mono';
  font-size: 18;
  color: #ffffff;
  padding: 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

h1 {
  height: 28;
  padding: 6 10 8 60;
  margin: 0;
  font-family: 'Times New Roman';
  font-variant: small-caps;
  font-style: italic;
  background-image: linear-gradient(140deg, #8a1020, #680b17, #022b94);
  color: #ffffff;
  border-color: #707070;
  border-width: 0 0 4 0;
  border-style: solid;
  border-radius: 2px;
}

table {
  display: grid;
}

tr {
  display: flex;
}

td {
  flex: 1;
  font-size: 18;
}

#container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch
}

#navbar {
  float: right;
  display: flex;
  flex-direction: row;
  margin: 6 12 6 12;
}

#navbar a {
  text-decoration: none;
  color: #ffffff;
  background-color: #303030;
  flex: 1;
  flex-direction: column;
  border-radius: 1px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  padding: 6px;
  font-size: 20;
  border-radius: 4px;
  margin: 4px;
  box-shadow: 0px 0px 4px #909090;
  height: 60px;
}

#navbar a:hover {
  background-color: #505050;
}

#contentpane {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 4 12 4 12;
  font-size: 18;
  justify-content: space-between;
}

canvas {
  align-self: center;
  /* height: 250px;
  width: 100%; */
}

.canvas {
  height: 50px;
  padding: 5 10 5 10;
  border: #909090 solid 6px;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
}

.canvas div:hover {
  font-weight: bold;
}

#helpbar {
  height: 40px;
  margin: 4px 12px 4px 12px;
  border: #909090 solid 2px;
  border-radius: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.content {
  height: fit-content;
  flex: 1;
  padding: 12px;
  background-color: #303030;
}

input {
  font-size: 17;
  font-family: 'Courier New';
}

.headerpanel {
  background-color: #504a4a;
  height: 40px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar a {
  max-height: 60px;
}

button {
  flex: 1;
  padding: 6px;
  text-align: center;
  font-size: 18;
  font-family: 'Times New Roman', 'Cascadia Mono';
  color: #ffffff;
}