body {
  margin: 0px;
  text-align: justify;
  background-color: #404040;
  font-family: 'Times New Roman','Cascadia Mono';
  font-size: 18;
  color: #ffffff;
  padding: 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

h1 {
  height: 28;
  padding: 6 10 8 60;
  margin: 0;
  font-family: 'Times New Roman';
  font-variant: small-caps;
  font-style: italic;
  background-image: linear-gradient(140deg, #8a1020, #680b17, #022b94);
  color: #ffffff;
  border-color: #707070;
  border-width: 0 0 4 0;
  border-style: solid;
  border-radius: 2px;
  overflow: hidden;
}

table {
  display: grid;
}

tr {
  display: flex;
}

td {
  flex: 1;
  font-size: 18;
}

#container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch
}

#navbar {
  float: right;
  display: flex;
  flex-direction: row;
  margin: 0 -10 6 -10;
}

#navbar a {
  max-height: 60px;
  text-decoration: none;
  color: #ffffff;
  background-color: #303030;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  padding: 6px 0px;
  font-size: 20;
  margin: 0px;
  height: 30px;
  border-bottom: 2px solid #101010;
  border-left: 2px solid #606060;
  border-right: 2px solid #101010;
  border-top: 2px solid #606060;
  justify-content: center;
  align-items: center;
  transform: skewX(-15deg);
}

#navbar a:first-child, #navbar a:last-child {
  flex:1.1;
}

#navbar label {
  transform: skewX(15deg);
}

#navbar a:active {
  border-bottom: 2px solid #606060;
  border-left: 2px solid #101010;
  border-right: 2px solid #606060;
  border-top: 2px solid #101010;  
}

#contentpane {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 4 12 4 12;
  font-size: 18;
  justify-content: space-between;
}

canvas {
  align-self: center;
  /* height: 250px;
  width: 100%; */
}

.canvas {
  height: 50px;
  padding: 5 10 5 10;
  border: #909090 solid 6px;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
}

.canvas div:hover {
  font-weight: bold;
}

#helpbar {
  height: 40px;
  margin: 4px 12px 4px 12px;
  border: #909090 solid 2px;
  border-radius: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.content {
  height: fit-content;
  flex: 1;
  padding: 12px;
  background-color: #303030;
}

input, select {
  font-size: 17;
  font-family: 'Courier New';
}

.headerpanel {
  background-color: #504a4a;
  height: 40px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  flex: 1;
  padding: 6px;
  text-align: center;
  font-size: 18;
  font-family: 'Times New Roman', 'Cascadia Mono';
  color: #ffffff;
}


#navbar a {
  background-image: linear-gradient(180deg, #2a398d,#162266)
}

#navbar a:hover {
  background-image: linear-gradient(180deg, #475fe7,#2135a5)
}




body {
  overflow: hidden;
}


sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}
