{% extends 'template.html' %}

{% block content %}
<script type='text/javascript' src="../js/page_advanced.js"></script>
<link rel="stylesheet" type="text/css" href="../css/page_advanced.css">

<div style="flex: 1;">
    <div class="headerpanel">Curve Fitting</div>

    <div class="content">
        
        <div style="flex: none; display: flex; flex-direction: column; justify-content: flex-start;">
            <label style="margin: 0px; text-align: center;">Error</label>
            <canvas id="error_plot" width="520" height="220"></canvas>
            <label style="margin: 0px; text-align: center;">Temperature and reflectivity data</label>
            <canvas id="temp_plot" width="520" height="220"></canvas>
        </div>

        <div style="flex: 1; display: flex; flex-direction: column;">
            <div style="flex:1; display: flex; flex-direction: column;">
                <label id="layer_lbl">Layer selected:<span> <i style="margin-left: 2px;">Click on a layer to select it</i></span></label>
                <label>Fitting parameter:</label>
                <select id="target" class="dropdown">
                    <option value="-1">Select the property to fit...</option>
                    <option value="0">Ce &nbsp;- Electron Capacity    </option>
                    <option value="1">ke &nbsp;- Electron Conductivity</option>
                    <option value="2">Cl &nbsp;- Lattice &nbsp; Capacity     </option>
                    <option value="3">kl &nbsp;- Lattice &nbsp; Conductivity </option>
                    <option value="5">Cs &nbsp;- Spin &nbsp; Capacity     </option>
                    <option value="6">ks &nbsp;- Spin &nbsp; Conductivity </option>
                    <option value="4">Gel - Electron-Lattice Coupling    </option>
                    <option value="4">Ges - Electron-Spin Coupling    </option>
                    <option value="4">Gls - Lattice-Spin Coupling    </option>
                </select>
                <label>Experimental data file:</label>
                <input style="margin-bottom: 10px;" id="data_file">
                <label style="display: flex; justify-content: space-between;">
                    <span style="width:190px; text-align: right;">Initial value:</span>
                    <input size="10" style="flex: 1; margin-left: 10px;" id="start_point">
                </label>
                <label style="display: flex; justify-content: space-between;">
                    <span style="width:190px; text-align: right;">Expression:</span>
                    <input size="10" style="flex: 1; margin-left: 10px;" id="function" placeholder="X fitting param">
                </label>
                <label style="display: flex; justify-content: space-between;">
                    <span style="width:190px; text-align: right;">Penetration depth [nm]:</span>
                    <input size="10" style="flex: 1; margin-left: 10px;" id="depth" value="0">
                </label>
                <label style="display: flex; justify-content: space-between;">
                    <span style="width:190px; text-align: right;">Iterations:</span>
                    <input type="number" size="10" style="flex: 1; margin-left: 10px; width: 1px;" id="iteration" value="20">
                </label>
            </div>
            
            <div style="display: flex; flex-direction: column;">
                <span style="text-align: center; margin: 10px; display: flex; justify-content: space-evenly;">
                    <label style="width: 35%">fitting value: </label><label id="result1" style="width: 200px;"></label>
                    <!--span style="width: 10%"></span-->
                    <!--label style="width: 25%">fitting error: </label><label id="result2" style="width: 20%;"></label-->
                </span>
                <span style="display: flex; margin-top: 10px; margin-bottom: 0px;">
                    <button id="start" class="button" style="flex: 1;">Start</button>
                    <button id="stop"  class="button" style="flex: 1;">Stop/Reset</button>
                </span>
                <span style="display: flex; margin-top: 0px; margin-bottom: 15px;">
                    <button id="apply"  class="button" style="flex: 1;">Apply to the model</button>
                </span>
            </div>
        </div>  
    </div>

</div>
{% endblock %}
