{% extends 'template.html' %}

{% block content %}
<script type='text/javascript' src="../js/page_main.js"></script>
<link rel="stylesheet" type="text/css" href="../css/page_main.css">

<div style="flex: 1;">    

    <div class="headerpanel" id="files_header">Files Menu</div>
    <div class="content" id="files_panel" style="display:flex; flex-direction: column;">
        <div style="margin: 4px; display: flex; flex-direction: row;">
            <span style="flex:1; display: flex;">
                <label>Filename: </label>
                <input type="text" id="filename">    
            </span>
            <span style="flex:2; display: flex;">
                <label>Path:</label>
                <input type="text" id="pathname">
                <button id="goto"> Go to folder</button>
            </span>
        </div>
        <div style="margin: 8 0 8 0; display: flex; flex-direction: row;">
            <table id="filetable">
            </table>
        </div>
        <div style="display: flex; flex: 1">
            <button id="new_file" class="button">New File</button>
            <button id="load_file" class="button">Load File</button>
            <button id="save_file" class="button">Save File</button>
            <button id="del_file" class="button">Delete File</button>
        </div>
        
    </div>

    <div class="headerpanel" id="sim2T_header">Simulation Menu</div>
    <div class="content" id="sim2T_panel" style="display:flex; flex-direction: column;">
        <span style="display: flex; flex-direction: row; flex: 1;">
            <label>Total simulation time: </label>
            <input id="sim_time">
            <label style="flex: 1; text-align: right;">Computation time: </label>
            <label style="flex: 1" id="comp_time">Never run</label>
        </span>
        <div id="sim_info">
            <span id="layersStatus" style="flex: 1;">
                <div class="light"></div>
                <div class="text">Material not configured</div>
            </span>
            <span id="sourceStatus" style="flex: 1;">
                <div class="light"></div>
                <div class="text">Source not configured</div>
            </span>
            <span id="resultStatus" style="flex: 1;">
                <div class="light"></div>
                <div class="text">Results not available</div>
            </span>
        </div>
        <button id="run_2Tsim" class="button">Run Simulation</button>
    </div>
    
</div>
{% endblock %}
 