{% extends 'template.html' %}

{% block content %}
<script type='text/javascript' src="../js/page_source.js"></script>
<link rel="stylesheet" type="text/css" href="../css/page_source.css">
<div style="flex: 1;">
    <div id="source_style">
        <label style="flex: 1;">Source type:</label>
        <span  style="flex: 1;"><input type="radio" name="type" id="check_LBL"> Lambert Beer Law</span>
        <span  style="flex: 1;"><input type="radio" name="type" id="check_TMM"> Transfer Matrices Method</span>
    </div>

    <div class="headerpanel" id="source_header">Source Properties</div>
    <div class="content" id="source_panel">
        <table id="table_source">
        </table>
        <button class="button" id="update_source">Update Source</button>
    </div>

    <div class="headerpanel" id="layer_header">Material Properties (click on a layer)</div>
    <div class="content" id="layer_panel">
        <table id='table_layer'>
        </table>
        <button class='button' id='update_layer'>Update Material</button>
    </div>

    <div class="headerpanel" id="plot_header">Plot and Save Data</div>
    <div class="content" style="display: none;" id="plot_panel">
        <canvas id="plot" height="280" width="950"></canvas>
        <div style="display:flex">
            <button class="button" id="plot_space">Space</button>
            <button class="button" id="plot_time" >Time</button>
            <button class="button" id="plot_save" >Save</button>
            <button class="button" id="plot_pyplt">Python</button>
        </div>
    </div>

</div>

{% endblock %}
 