{% extends 'template.html' %}

{% block content %}
<script type='text/javascript' src="../js/page_author.js"></script>
<link rel="stylesheet" type="text/css" href="../css/page_author.css">
<div style="text-align: justify; margin: 10 0 10 0; padding: 10px; flex: 1;">
    This software is developed by Valentino Scalera and Lukas Alber with the support of Vivek Unikandanunni and Stefano Bonetti.<br>
    For more information, please visit the <a href="https://github.com/VaSca92/NTMpy" target="_blank" style="color: #ffffff;">GitHub repository</a>.<br>
    <br>
    You can cite NTMpy using the reference papers:
    <ul style="margin-top: 10px; list-style-type: disc; padding-left: 20px;">
        <li><a href="https://doi.org/10.1016/j.cpc.2021.107990" target="_blank" style="color: #ffffff;">
            Alber L., Scalera V., Unikandanunni V., Schick D., Bonetti S.,
            &#8220NTMpy: An open source package for solving coupled parabolic differential equations 
            in the framework of the three-temperature model&#8221 , <i>Computer Physics Communications</i>,
            Volume 265, 2021.
        </a></li>
        <!--li><a href="#" target="_blank" style="color: #ffffff;">...</a></li-->
    </ul>
    <br>
    You can contact the authors opening an issue on Github or sending an email to <a style="color:#ffffff" href="mailto:valentino.scalera@uniparthenope.it">Valentino Scalera</a>
</div>
<img src="../img/logo_NTMpy.png" style="margin: 10px; width: 35%; align-self: center;">
<div style="align-self: flex-end; width: 100%; display:flex; justify-content: space-between; align-items: center;">
    <img src="../img/logo_parthenope.png" style="margin: 10px; width: 40%;">
    <img src="../img/logo_unive.png" style="margin: 10px; width: 30%; margin-left:10px;">
</div>
{% endblock %}
