{% extends 'template.html' %}

{% block content %}
<script type='text/javascript' src="../js/page_author.js"></script>
<link rel="stylesheet" type="text/css" href="../css/page_author.css">
<div style="text-align: justify; margin: 10 0 10 0; padding: 10px; flex: 1;">
    This software is developed by Valentino Scalera and Lukas Alber with the support of Vivek Unni and Stefano Bonetti.<br>
    For more information, please visit the <a href="https://github.com/NTMpy/NTMpy" style="color: #ffffff;">GitHub repository</a>.
</div>
<div style="align-self: flex-end; width: 100%;">
    <img src="../img/logo_parthenope.png" style="margin: 10px; width: 50%;">
</div>
{% endblock %}
 